# Node.js / Vue
node_modules/
/dist
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.env.local
.env.*.local

# Compiled Binaries (C++)
hangman_linux_x64
hangman_linux_x86
hangman_windows_x64
hangman_windows_x86
*.exe
*.o
*.out

# Flutter / Dart (Subfolder specific)
**/hangman_flame/.dart_tool/
**/hangman_flame/.flutter-plugins
**/hangman_flame/.flutter-plugins-dependencies
**/hangman_flame/.pub-cache/
**/hangman_flame/build/
**/hangman_flame/.packages

# IDEs and OS
.idea/
.vscode/
.vs/
*.suo
*.sln
*.sw?
.DS_Store